# app
PORT=6001
ENV=development

# database 
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME?sslmode=require

# JWT secret
JWT_SECRET=your_jwt_secret_key_here

# google service account credentials
GOOGLE_DRIVE_CREDENTIALS={
    "type":"service_account",
    "project_id":"your_project_id",
    "private_key_id":"your_private_key_id",
    "private_key":"-----BEGIN PRIVATE KEY-----\\nyour_private_key\\n-----END PRIVATE KEY-----\\n","client_email":"your_service_account_email",
    "client_id":"your_client_id",
    "auth_uri":"https://accounts.google.com/o/oauth2/auth","
    token_uri":"https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/your_service_account_email",
    "universe_domain":"googleapis.com"
    }
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id

# MeiliSearch credentials
MEILISEARCH_HOST=https://your-meilisearch-instance-url
MEILISEARCH_API_KEY=your_meilisearch_api_key

# Redis credentials
REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port

# NewsAPI key
NEWS_API_KEY=your_newsapi_key
