html,
body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  cursor: default !important;
}


/* Swiper Custom Pagination */
.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  transition: all 0.3s;
  margin: 8px 0;
  border-radius: 50%;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: white;
  width: 14px;
  height: 14px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}


/* anchor link underline hover effect  */
.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}


/* image flip effect  */
.scale-image:hover{
  transform: scaleX(1);
  transition: all;
}